.app-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
}
.content{
    flex: 1 !important;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}