.Theater{
    padding: 0;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ECEACF;
}
.citySearch{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
   
}
.citySearch input{
    padding: 5px 5px 5px 10px;
    background-color:  #e6e2c3;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 0 3px 2px rgb(19, 15, 19);
    cursor: pointer;
    outline: none;
    border: none;
}
.citySearch input:focus{
    box-shadow: 0 0 5px 3px rgb(19, 15, 19);

}
.citySearch button{
    margin-left: 15px;
}
.city{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.datesdiv{
    display: flex;
    justify-content: center;
    padding: 15px 0 0 0;
    min-height: 50px;
    max-width: 700px;
    margin-left: 20vw;
    flex-wrap: wrap;
    border-top: 1.4px solid rgba(133, 123, 123, 0.808);;
    text-align: center;
    align-items: center;
    
}
.datesdiv span{
    font-weight: 580;
    font-size: 17px;
}
.datesdiv button{
    border: none;
    outline: none;
   
}
.datesdiv .dateBtn{
    font-weight: 500;
    background-color: transparent;
    outline: none;
    color: rgb(18, 58, 145);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0 0 4px 1px rgb(142, 85, 180);
}
.datesdiv .dateBtn:hover{
    box-shadow: 0 0 6px 3px rgb(142, 85, 180);
    color: rgb(99, 9, 63);
}
.datesdiv .clicked{
    outline: none;
    font-weight: 640;
    border-radius: 10px;
    border: 1.8px solid black;
    box-shadow: 0 0 4px 1.5px rgb(0, 0, 0);
    margin-left: 10px;
    color: rgb(0, 0, 0);
    padding:  5px 10px 5px 10px;
    background-color: rgba(207, 50, 181, 0.906);
}


.theaterListdiv{
    margin-top: 15px;
    padding: 10px;
    border-top: 1.4px solid rgba(133, 123, 123, 0.808);
    border-bottom: 1.4px solid rgba(133, 123, 123, 0.614);
    flex: 1;
    background-color: #e6e3c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.theaterList{
    display: flex;
    margin-top: 5px;
    

}
.theaterName{
    width: 300px;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 5px 0 2.5px 10px;

}
.showTime{
    padding: 5px 0 2.5px 10px;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.showTime button{
   
    margin: 5px;
}


 /* Responsive */
 @media (max-width:560px){
    .datesdiv{
        display: flex;
        justify-content: center;
        padding: 15px 0 0 0;
        min-height: 50px;
        width: 100%;
        margin: 0 !important;
        flex-wrap: wrap;
        border-top: 1.4px solid rgba(133, 123, 123, 0.808);;
        text-align: center;
        overflow-x: none;
        align-items: center;
        
    }
    .datesdiv .dateBtn{   
    margin: 0 5px 15px 5px;
    }
    .datesdiv .clicked{
        margin: 0 5px 15px 5px;
    }
    
   
   }